* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  color: #f0f0f0;

  width: 100vw;
  height: 100vh;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #222226;

  h1 {
    text-align: center;
    margin: 0;

    flex-grow: 0;
    margin: 1rem;
  }

  select {
    flex-grow: 0;
    margin: 1rem;
  }
}

.map {
  flex: 1 1 200px;

  padding: 4rem;

  &__view {
    position: relative;

    border: 2px solid white;
    background-color: #333;

    width: 100%;
    height: 100%;

    overflow-x: scroll;
    overflow-y: scroll;
  }

  &__canvas {
    position: absolute;
    padding: 2rem;
  }
}

