* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  color: #f0f0f0;

  width: 100vw;
  height: 100vh;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #222226;

  h1 {
    text-align: center;
    margin: 0;

    flex-grow: 0;
    margin: 1rem;
  }

  select {
    flex-grow: 0;
    margin: 1rem;
  }
}

.map {
  flex: 1 1 200px;
  padding: 4rem;

  display: flex;
  flex-direction: column;


  &__view {
    position: relative;

    border: 1px solid #fff3;
    border-radius: 0.5rem;

    width: 100%;
    height: 100%;

    overflow-x: scroll;
    overflow-y: scroll;
  }

  &__canvas {
    position: absolute;
    top: px;
    left: 0px;
  }
}

.menu{
  display:flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  &__button{
    margin-top:1em;
    width: 15rem;
    height: 4rem;
    text-align: center;
    border-radius: 2rem;
    color: whitesmoke;
    background-color: #2B2D35;
    border: 0.25rem solid #0F0E11 ;
    font-size: 1.5rem;
    font-family:sans-serif;
    
    &:hover{
      box-shadow:0.4rem 0.4rem 0.2rem #CC0000;
      color: #E00000;
    }
    
    &:active{
      box-shadow:0.4rem 0.4rem 0.2rem #800000;
      color: #aa0000;
      background-color: #1b1d22;
      border: 0.25rem solid #060607 ;
      transform: translate(0.2rem, 0.2rem);
      font-size: 1rem;
      width: 12rem;
      height: 3rem;
    }
  }
}

button:hover {
  cursor: pointer
}
